In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range("20220919", periods=6)

In [11]:
dates

DatetimeIndex(['2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22',
               '2022-09-23', '2022-09-24'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20220919"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2022-09-19  1.0  3   test  foo
1  1.0 2022-09-19  1.0  3  train  foo
2  1.0 2022-09-19  1.0  3   test  foo
3  1.0 2022-09-19  1.0  3  train  foo